@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-VariableFont_wght.woff2") format('woff2');
  }
  @font-face {
    font-family: "Manrope";
    src: url("./assets/fonts/Manrope-Regular.woff2") format('woff2');
  }
/* css reset */

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
}

/* header and navigatoin */

header {
    min-height: 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background: #44513eab;
    backdrop-filter: blur(2rem);
    border-radius: 0 0 30px 30px;
    z-index: 11;
    padding: 0 2rem;
}

.site-logo {
    width: 180px;
    margin: 1rem clamp(1rem, 5vw, 3.5rem) 1rem 1rem;
}

.site-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.site-nav ul a {
    font-family: "Montserrat", serif;
    font-size: .8rem;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.site-nav li {
    border-bottom: 1.5px solid transparent;
}

.site-nav li:hover {
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    transition-timing-function: ease-out;
    transition: 0.5s;
    transform: translateY(0);
}

/* Typography */

p, a, span, label, h1, h2, h3, h4, h5, h6, li {
    overflow-wrap: break-word;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}
  
p {
    text-wrap: pretty;
    font-size: 1.2rem;
}

p.fr {
    font-size: .9rem;
    margin-top: -.6rem;
}

.p-quote {
    font-size: .9rem;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

input, button, textarea, select {
    font: inherit;
}

.headings {
    text-transform: uppercase;
    font-weight: 670;
    font-size: 2.8rem;
}

.headings-on-green {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.8rem;
}

.headings-small {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 670;
}

.subheadings {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 570;
    font-size: 1rem;
}

.sub-fr {
    font-size: .8rem;
}

/* Layout */
  
body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
}
img, picture, video, canvas, svg, span {
    display: block;
    max-width: 100%;
}

section {
    padding: 4rem 0;
    margin: 3vh auto;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 0 1.6rem;
}

.caroussel-container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 0 1rem;
}

.hero {
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin: 0 1rem 4rem 1rem;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .hero {
        height: 80vh;
    }
}

.index-img {
    background-image: url("./assets/l'etable67_hero-img.webp");
    margin-top: 1rem;
}

.about-us-img {
    background-image: url("./assets/Das-Team-Hero-Letable.webp");
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {

    .index-img,
    .about-us-img {
        margin-top: 0;
    }

    .nav-article {
        padding-bottom: 2rem;
    }

    .p-l {
        padding-left: 1.2rem;
    }
    
}

.nav-article {
    padding: 3rem 0;
    align-items: center;
}

.nav-img img {
    max-width: 90%;
    margin: auto;
    border-radius: 30px;
}

.about-img img {
    border-radius: 30px;
}

.anfahrt-img {
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
    border-radius: 30px;
}

.page-description {
    display: flex;
}

.page-description h2 {
    font-weight: 600;
    font-size: 1rem;
}

.description-style {
    font-size: 1.8rem;
    font-weight: 300;
    max-width: 40ch;
}

.tel-link {
    text-decoration: none;
}
  

/* utility classes */

.text-green {
    color: #44513E;
}

.text-white {
    color: #ffffff;
}

.bg-green {
    background-color: #44513E;
}

.bg-light {
    background-color: #FFFCF6;
}

.weight-600 {
    font-weight: 570;
}

.gap-s {
    gap: 1.2rem;
}

.gap-m {
    gap: 4rem;
}

.gap-l {
    gap: 6rem;
}

.text-center {
    text-align: center;
}

.flex {
   display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

.align-top {
    align-items: top !important;
}

.align-baseline {
    align-items: baseline;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.short-par {
    max-width: 60ch;
}

.text-lg {
    font-size: 4rem;
} 

.text-m {
    font-size: 1.8rem;
} 

.p-l {
    padding-left: 0;
}

.p-b {
    padding-bottom: 3rem;
}

.p-t {
    padding-top: 3rem;
}

.p-t-1 {
    padding-top: 1rem;
}

.col-7 {
    width: 70%;
}

.col-5 {
    width: 50%;
}

.col-3 {
    width: 30%;
}

.rotate {
    transform: rotate(-0.01turn);
}

.reverse-rotate {
    transform: rotate(0.01turn);
}

.h-300 {
    min-height: 12rem;
}

.h-70vh {
    min-height: 70vh;
}

/* Caroussel Element */

.swiper-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: hidden;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-size: 1.2rem;
    border-radius: 30px;
    margin-bottom: 1rem;
}

.swiper-slide p {
    text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: initial;
 /* Positionierung unterhalb der Galerie */
  width: 70px;
  height: 70px;
  background-color: #44513E;  /* Optional: Hintergrundfarbe für die Buttons */
  color: #FFFCF6;
  border: 2px solid #44513E; 
  border-radius: 50%;  /* Runde Buttons */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;  /* Damit die Buttons vor dem Swiper-Content liegen */
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 2.2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #FFFCF6;
  color: #44513E;
}

  

/* buttons */

.btn-green {
    background: transparent;
    border: 1px solid #44513E;
    border-radius: 30px;
    padding: 1rem 1rem;
    width: fit-content;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: #44513E;
    margin-top: 1rem;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .btn-green {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus,
.btn-green[aria-selected="true"] {
    background: #44513E;
    color: #FFFCF6;
}

.btn-light {
    background: transparent;
    border: 1px solid #FFFCF6;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: fit-content;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: #FFFCF6;
    margin-top: 1rem;
    text-decoration: none;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background: #FFFCF6;
    color: #44513E;
}

.btn-wrapper {
    padding: .3rem;
    border: 1px solid #44513E;
    border-radius: 30px;
    display: flex;
    flex-direction: row !important;
    max-width: 100%;
}

#food-button,
#drinks-button,
#breakfast-button {
    margin-top: 0;
    border: none;
}

#food-button:hover,
#drinks-button:hover,
#breakfast-button:hover {
    background: #44513e34;
    color: #44513E;
}

#food-button:active,
#drinks-button:active,
#breakfast-button:active,
#food-button[aria-selected="true"],
#drinks-button[aria-selected="true"],
#breakfast-button[aria-selected="true"]{
    background: #44513E;
    color: white;
}

/* footer */

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
}

footer li {
    border-bottom: 1.5px solid transparent;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: white;
    font-family: "Montserrat", serif;
}

footer ul a {
    font-size: .8rem;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

footer a:hover {
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
}

footer {
    padding: 2rem 0;
}

footer label {
    text-transform: uppercase;
    font-weight: 570;
    font-size: 1rem;
    color: white;
}

footer p {
    font-size: 1rem;
}

.abbinder {
    display: flex;
    align-items: center;
}

.separator {
    border-bottom: 1px solid white;
    width: 100%;
}

.empty-separator {
    padding: 3rem 0;
}


 /*
    menu page
  */

  .menu-col {
    width: 100%;
  }

  .menu-hero {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.single-menu-item {
    margin: 20px 0;
    text-align: left;
    gap: 1rem;
    padding: 20px 0;
    border-bottom: .5px dotted #44513E;
}

.menu-name {
    margin: 0;
}

.menu-price {
    margin: 0;
    min-width: 3.2rem;
}



.menu-description {
    max-width: 45ch;
    font-size: 1rem;
}

.menu-wrapper {
    gap: 4rem;
}

/*
    CONTACT
*/

.contact-hero {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.contact-data-wrap {
    min-width: 16rem;
}


/*
    FAQ
*/
.faq {
    max-width: 900px;
    margin: 0 auto;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    padding: .5rem 1rem;
    outline: none;
    transition: color 0.3s ease;
}

.accordion-header:hover,
.accordion-header:active,
.accordion-header[aria-expanded="true"] {
    background: #44513e34;
    border-radius: 30px;
}

.icon {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    min-width: 40px;
    width: 40px !important;
}

.accordion-header[aria-expanded="true"] .icon {
    transform: rotate(180deg);
}

.accordion-panel {
    padding: 2rem 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: left;
}


/* Contact Page */

.open-hrs {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.open-hrs .menu-price.subheadings {
    text-transform: none;
    letter-spacing: 2px;
}



  /* mobile responsiveness */

  @media (max-width: 767px) {
    .header {
        padding-bottom: 1rem;
    }

    .header img {
        width: 130px;
    }

    .site-nav {
        width: 100%;
        justify-content: space-between;

    }

    .site-nav ul {
        gap: 1rem;
        justify-content: space-between;
    }

    .site-logo {
        margin: .8rem;
    }


    .flex {
        flex-direction: column;
    }
    
    .abbinder.flex {
        flex-direction: row;
    }

    .page-description {
        flex-direction: column;
    }
    
    .col-7, 
    .col-5, 
    .col-3 {
        width: 100%;
    }
    
    .gap-l {
        gap: 4rem;
    }

    section {
        margin: 4.5vh auto;
    }

    .nav-container {
        gap: 2rem;
    }

    .footer-nav {
        text-align: center;
    }

    .empty-separator {
        padding: 1rem 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
  }

    .caroussel-container {
        max-width: 100%;
        padding: 0;
    }

    .description-style {
        font-size: 1.5rem;
    }

    .headings, 
    .headings-on-green {
        font-size: 1.9rem;
    }

    p {
        font-size: 1rem;
    }
    .subheadings {
        font-size: .9rem;
    }

    .headings-small {
        font-size: 1.6rem;
    }

    .menu-wrapper {
        gap: 1rem !important;
    }

    .single-menu-item .flex {
        flex-direction: row;
    } 
  }


  .menu-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 4rem;
    row-gap: 1rem;
}

@media (min-width: 768px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .dotted-line {
        flex-grow: 1;
        border-bottom: 2px dotted #44513E;
        margin-right: 10px; 
    }

    .single-menu-item {
        padding: 0;
        border-bottom: 0;
    }
    
}