*,
*:before,
*:after {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 3.5rem;
    color: white;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    line-height: 1.5;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
}

.mobile-logo {
    display: none;
}

header,
h1,
footer,
footer a {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;

}

.container {
    display: flex;
    width: 100%;
    min-height: 100dvh;

}

.bck-img-sec {
    width: 50%;
    background-image: url('/img/bck.jpg');
    background-size: cover;
}

.bck-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.bck-logo svg {
    max-width: 50rem;
    width: 50rem;
}

.text-content {
    width: 50%;
    background-color: #44513E;
    padding: 12rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    display: flex;
    gap: 5rem;
}

.instagram {
    display: flex;
    flex-direction: row;
}

.instagram img {
    max-width: 3rem;
    margin-right: 1rem;
}

.text-logo {
    max-width: 45rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #DFC192;
    transition: 0.3s;
}

.contact-links {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

h2 {
    font-size: 3.5rem;
    color: #DFC192;
    font-weight: normal;
}

.reservation-text {
    margin-top: 2rem;
}

.opening-hours h2 {
    margin-bottom: 1rem;
}

@media screen and (max-height: 800px) {

    body,
    h2 {
        font-size: 2.5rem;
    }

    .text-content {
        gap: 4rem;
    }
}

@media screen and (max-width: 1850px) {
    .text-content {
        padding: 12rem 3.5rem;
    }

    .contact {
        gap: 0;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1600px) {

    body,
    h2 {
        font-size: 3rem;
    }

    .bck-logo {
        padding: 8rem;
    }
}

@media screen and (max-width: 1390px) {

    body,
    h2 {
        font-size: 2.5rem;
    }

    .instagram img {
        max-width: 2rem;
    }

}

@media screen and (max-width: 1160px) {

    body,
    h2 {
        font-size: 2rem;
    }

    .text-logo {
        max-width: 32rem;
    }
}

@media screen and (max-width: 950px) {
    .contact {
        flex-direction: column;
        gap: 4rem;
    }
}

@media screen and (max-width: 735px) {
    .container {
        flex-direction: column;
    }

    .bck-img-sec,
    .text-content {
        width: 100%;
    }

    .text-content {
        gap: 5rem;
        padding: 5rem 2.5rem;
    }

    .mobile-logo {
        display: block;
    }

    .text-logo {
        display: none;
    }

    .bck-logo {
        padding: 10rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .bck-logo svg {
        width: 27rem;
    }
}

@media screen and (max-width: 400px) {
    .bck-logo {
        padding: 6rem;
    }

    .bck-logo svg {
        width: 25rem;
    }
}

@media screen and (max-width: 370px) {

    body,
    h2 {
        font-size: 1.7rem;
    }

}